<% @images.each do |colors_array| %>
  <section><%= image_tag("/assets/#{@images.index(colors_array)}.jpg", class: "image") %></section>

  <p> Main colors:  <% colors_array.each do |color| %> </p>
    <div class="swatch" style="background-color:<%= color.length >= 13 ? hexify(color) : color %>">
      <div>

      </div>
    </div>
  <% end %>
<% end %>
